<!--<app-camping-invoer (campingcreate)="oncampingcreated($event)"></app-camping-invoer>
<app-camping [campinglist]="Campings"></app-camping>
<br><br>
<app-camping-registratie (campingRegistratieCreate)="oncampingRegistratieCreated($event)"></app-camping-registratie>
<app-camping [campingRegistratieList]="registratie"></app-camping>
<app-parent [invoerwaarde]="invoer"></app-parent>
<app-child (uitvoerCreate)="onchildInvoerCreated($event)"></app-child>
<app-blad1 (uitvoerCreate)="onblad1AdresCreated($event)"></app-blad1>
<app-blad2 [Adreswaarde]="Adres"></app-blad2>
<body><a routerlink="/Parent">Parent</a> - <a routerLink="/child">Kind</a>
<router-outlet></router-outlet></body>-->

<div class="page_framework">
    <div class="navigation">
<style>
    a:link {
        text-decoration: none;
        color: #333;
    }
    a:visited {
        text-decoration: none;
        color: #333;
    }
</style>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/child">Prijslijst</a></li>
            <li><a routerLink="/child2">Activiteiten</a>
                <ul>
                    <li><a routerLink="/child2A">Wandelen</a></li>
                    <li><a routerLink="/child2B">Kanoën</a></li>
                </ul></li>
            
        </ul></div>
        <router-outlet></router-outlet>
<app-footer></app-footer>