<!--<p>child works!</p>
<label for="childInvoer">invoer</label>
<input type="text" id="childInvoer" [(ngModel)]="childInvoerModel">
<button (click)="onChildInvoer()">verstuur</button>-->
<br>
<div class="navigation">
<br>

<table>
    <tr>
        <th></th><th>Hoogseizoen<br>per nacht</th><th>Laagseizoen<br>per nacht<br></th>
    </tr>
    <tr><td></td><td>  </td></tr>
    <tr><th></th><td>Paasvakantie BE<br>Meivakantie NL<br>hemelvaart<br>Pinksteren<br>Juli/augustus<br></td><td><br>Overige</td></tr>
    <tr><td></td></tr><br>
    <tr><td><b><u>Accommodatie</u></b></td></tr>
    <tr>
        <td>
            Plek Les Allaines/Semois</td><td>24,95€</td><td>20,79€</td></tr>
            <tr><td>Kampeerweide/Wildcamp</td><td>23,95€</td><td>20,79€</td></tr>
            <tr><td>Blokhut 4 personen</td><td>77,50€</td><td>64,58€</td></tr>
            <tr><td>Blokhut 5 personen</td><td>87,50€</td><td>72,92€</td></tr>
            <tr><td>Camperplek</td><td>24,95€</td><td>20,79€</td></tr>
            <tr><td>Ingerichte Bell-Ten (weekend)</td><td>210,00€</td><td>205,00€</td></tr>
            <tr><td>Ingerichte Bell-Ten (midweek)</td><td>260,00€</td><td>250,00€</td></tr>
            <tr><td>Ingerichte Bell-Ten (week)</td><td>399,00€</td><td>350,00€</td></tr>
            <tr><td>Ingerichte Bell-Ten (extra nacht)</td><td>75,00€</td><td>69,00€</td></tr>
            <tr><td>Daktent Experience (2 pers - 2 nachten)</td><td>65,00€</td><td>60,00€</td></tr><br>
            <tr><td></td><td></td><td></td></tr>
            <tr><td><b><u>Personen per dag</u></b><br></td><td></td><td></td></tr>
            <tr><td>Volwassenen</td><td>6,75€</td><td>6,75€</td></tr>
            <tr><td>Kinderen (3 t/m 12 jaar)</td><td>5,50€</td><td>5,50€</td></tr>
            <tr><td>Kinderen tot 3 jaar</td><td>GRATIS</td><td>GRATIS</td></tr>
            <tr><td>Bezoek (per pers, per dag)</td><td>5,00€</td><td>5,00€</td></tr><br>
            <tr><td></td><td></td><td></td></tr>
            <tr><td><b><u>Overige</u></b></td><td></td><td></td></tr>
            <tr><td>Bijzettent (klein)</td><td>3,00€</td><td>3,00€</td></tr>
            <tr><td>Huisdieren (aangelijnd)</td><td>4,95€</td><td>3,95€</td></tr>
            <tr><td>Electriciteit 10Amp</td><td>5,95€</td><td>5,95€</td></tr>
            <tr><td>Eindschoonmaak blokhut</td><td>35,00€</td><td>35,00€</td></tr>
            <tr><td>Eindschoonmaak Bell-Ten</td><td>25,00€</td><td>25,00€</td></tr>
            <tr><td>Eindschoonmaak Daktent</td><td>15,00€</td><td>15,00€</td></tr>
            <tr><td>Munt wasmachine of droger</td><td>4,95€</td><td>4,95€</td></tr><br>
            <tr><td></td><td></td><td></td></tr>
            <tr><td><b><u>Verhuur</u></b></td><td></td><td></td></tr>
            <tr><td>Weber bbq, pannekoekpan, rooster bbq</td><td>5,00€</td><td>5,00€</td></tr>
            <tr><td>Maka vuurschaal </td><td>2,50€</td><td>2,50€</td></tr>
            <tr><td>Maka tafel met 2 banken</td><td>2,50€</td><td>2,50€</td></tr>
            
      
</table>
<br><br>
</div>